{% extends 'home_page.html' %}

{% block titulo %}
Perfil {{ usuario }}
{% endblock %}

{% block body %}

<body>
    {% include "navbar.html" %}

    {% if form %}
    <div class="container">

        <form class="bloco-add-img" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <h2>{{ usuario.username }} - Enviar foto</h2>
            <div class="bloco-input-botao">
                <div class="bloco-arquivo">
                    {{ form.foto(class="botao-arquivo") }}
                </div>
            </div>
            {{ form.botao_confirmacao(class="botao-login") }}
        </form>

        {% else %}
        <div class="bloco-add-img">
            <h2>{{ usuario.username }}</h2>
        </div>
        
        {% endif %}
        <div class="conteudo">
            {% for foto in usuario.fotos %}
                <div class="bloco-imagem">
                    <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}" alt="Pinterest" />
                </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}